<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="mat-h1">Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-card-content">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" name="username" autocomplete="off" autocapitalize="off" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" name="password" type="password" autocomplete="off" autocapitalize="off"
            required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
